<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/statics/style.css">
</head>

<body class="dashboard-body">
    <header class="header">
        <div style="display: flex; justify-content: left; align-items: center; gap: 33px;">
            <a href="/logout" class="hyper-button">Logout</a>
            <button id="open-settings" class="hyper-button">&#9881;</button>
            <h2 style="color: ghostwhite;">Logged in as {{.CurrentUser.Username}}</h2>
        </div>
    </header>

    <div class="dashboard-content">
        <div class="action-button-container">
            <button class="action-button" id="open-create">Create</button>
            <button class="action-button" id="open-edit">Edit</button>
            <button class="action-button" id="open-delete">Delete</button>        
        </div>

        <form action="/search" method="post">
            <input type="text" placeholder="Keyword.." name="search-by-keyword" id="search-by-keyword">
            <select id="search-by-user" name="search-by-user">
                <option value="-1" label="All"></option>
                {{range $index, $user := .Users}}
                    <option value={{$user.Id}} label={{$user.Username}}></option>
                {{end}}
            </select>
            <select id="search-by-flags" name="search-by-flags" required>
                <option value="-1">All</option>
                <option value="0">Note</option>
                <option value="1">In Progress</option>
                <option value="2">Completed</option>
                <option value="3">Cancelled</option>
                <option value="4">Delegated</option>
            </select>
            <input type="date" name="search-by-date" id="search-by-date">
            <button type="submit">&#x1F50D;</button>
        </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Note Name</th>
                <th>Note Date</th>
                <th>Note Status</th>
                <th>Note Content</th>
            </tr>
            {{range $index, $note := .Notes}}
            <tr>
                <th>{{addOne $index}}</th>
                <th>{{getUserName $note.Owner}}</th>
                <th>{{$note.Name}}</th>
                <th>Created: {{shortDate $note.Date}}<br>
                    Completed: {{completedDate $note}}
                </th>
                <th>{{noteFlagToString $note.Flag}}</th>
                <th>{{$note.Content}}</th>
            </tr>
            {{end}}
        </table>
    </div>

    <div id="create-modal" class="modal">
        <div class="modal-content">
            <span id="close-create" class="close">&times;</span>

            <!-- Create Note Form -->
            <form action="/create" method="post">
                <label for="create-note-name">Note Name</label>
                <br>
                <input type="text" id="create-note-name" name="create-note-name" required>
                <br>
                <label for="create-note-content">Note</label>
                <br>
                <textarea id="create-note-content" name="create-note-content" rows="6" cols="50" required></textarea>
                <br>
                <label for="create-note-flags">Note Status</label>
                <br>
                <select id="create-note-flags" name="create-note-flags" required>
                    <option value="0">Note</option>
                    <option value="1">In Progress</option>
                    <option value="2">Completed</option>
                    <option value="3">Cancelled</option>
                    <option value="4">Delegated</option>
                </select>
                <fieldset>
                    <legend>Share note with:</legend>
                {{range $index, $user := .Users}}
                    {{if isColleague $.CurrentUserSettings $user.Id}}
                        <input type="checkbox" id=create-{{$user.Username}} name=create-{{$user.Username}} value={{$user.Id}} checked>
                    {{else}}
                        <input type="checkbox" id=create-{{$user.Username}} name=create-{{$user.Username}} value={{$user.Id}}>
                    {{end}}
                    <label for=create-{{$user.Username}}>{{$user.Username}}</label><br>
                {{end}}
                </fieldset>
                <br>
                <input class="submit" type="submit" value="Create Note">
            </form>
        </div>
    </div>

    <!-- Edit Note Form -->
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span id="close-edit" class="close">&times;</span>

            <form action="/edit" method="post">
                <label for="edit-select-note">Note</label>
                <br>
                <select name="edit-select-note" id="edit-select-note" onchange="updateEditForm();">
                    {{range $index, $note := .Notes}}
                        {{if isNoteOwned $note}}
                            <option value={{$note.Name}}>{{$note.Name}}</option>
                        {{end}}
                    {{end}}
                </select>

                <br>

                <label for="edit-note-name">Edit Name</label>
                <br>
                <input type="text" name="edit-note-name" id="edit-note-name" required>

                <br>

                <label for="edit-note-content">Edit Note</label>
                <br>
                <textarea id="edit-note-content" name="edit-note-content" rows="6" cols="50" required></textarea>
                <br>
                <label for="edit-note-flags">Note Status</label>
                <br>
                <select id="edit-note-flags" name="edit-note-flags" required>
                    <option value="0">Note</option>
                    <option value="1">In Progress</option>
                    <option value="2">Completed</option>
                    <option value="3">Cancelled</option>
                    <option value="4">Delegated</option>
                </select>
                <fieldset>
                    <legend>Edit Share:</legend>
                    {{range $index, $user := .Users}}
                        <input type="checkbox" id=edit-{{$user.Username}} name=edit-{{$user.Username}} value={{$user.Id}}>
                        <label for=edit-{{$user.Username}}>{{$user.Username}}</label><br>
                    {{end}}
                </fieldset>
                <br>
                <input type="submit" value="Edit Note">
            </form>
        </div>
    </div>

    <!-- Delete Note Form -->
    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <span id="close-delete" class="close">&times;</span>
            <form action="/delete" method="post">
                <label for="delete-select-note">Note</label>
                <br>
                <select name="delete-select-note" id="select-note">
                    {{range $index, $note := .Notes}}
                        {{if isNoteOwned $note}}
                            <option value={{$note.Name}}>{{$note.Name}}</option>
                        {{end}}
                    {{end}}
                </select>
                <br>
                <input type="submit" value="Delete Note">
            </form>
        </div>
    </div>

    <div id="settings-modal" class="modal">
        <div class="modal-content">
            <span id="close-settings" class="close">&times;</span>
            <h2>Colleagues:</h2>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                {{range $index, $id := .CurrentUserSettings.Colleagues}}
                    <tr>
                        <th>{{$id}}</th>
                        <th>{{getUserName $id}}</th>
                    </tr>
                {{end}}
            </table>

            <form action="/editsettings" method="post">
                <fieldset>
                    <legend>Edit Colleagues:</legend>
                    {{range $index, $user := .Users}}
                        {{if isColleague $.CurrentUserSettings $user.Id}}
                            <input type="checkbox" id=settings-{{$user.Username}} name=settings-{{$user.Username}} value={{$user.Id}} checked>
                        {{else}}
                            <input type="checkbox" id=settings-{{$user.Username}} name=setting-{{$user.Username}} value={{$user.Id}}>
                        {{end}}
                    <label for=settings-{{$user.Username}}>{{$user.Username}}</label><br>
                    {{end}}
                </fieldset>
                <input type="submit" value="Change Settings">
            </form>
        </div>
    </div>

    <script type="text/javascript">
        var objUsers = JSON.parse({{ json .Users }});
        var objNotes = JSON.parse({{ json .Notes }});
    </script>

    <script type="text/javascript">
        var createModal = document.getElementById("create-modal");
        var openCreateBtn = document.getElementById("open-create");
        var closeCreateBtn = document.getElementById("close-create");

        var editModal = document.getElementById("edit-modal");
        var openEditBtn = document.getElementById("open-edit");
        var closeEditBtn = document.getElementById("close-edit");

        var deleteModal = document.getElementById("delete-modal");
        var openDeleteBtn = document.getElementById("open-delete");
        var closeDeleteBtn = document.getElementById("close-delete");

        var settingsModal = document.getElementById("settings-modal");
        var openSettingsBtn = document.getElementById("open-settings");
        var closeSettingsBtn = document.getElementById("close-settings");
    
        openCreateBtn.onclick = function() {
            createModal.style.display = "block";
        }

        openEditBtn.onclick = function() {
            editModal.style.display = "block";
        }

        openDeleteBtn.onclick = function() {
            deleteModal.style.display = "block";
        }

        openSettingsBtn.onclick = function() {
            settingsModal.style.display = "block";
        }
    
        // When the user clicks on <span> (x), close the modal
        closeCreateBtn.onclick = function() {
            createModal.style.display = "none";
        }

        closeEditBtn.onclick = function() {
            editModal.style.display = "none";
        }

        closeDeleteBtn.onclick = function() {
            deleteModal.style.display = "none";
        }

        closeSettingsBtn.onclick = function() {
            settingsModal.style.display = "none";
        }
    
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == createModal) {
                createModal.style.display = "none";
            } else if (event.target == editModal){
                editModal.style.display = "none";
            } else if (event.target == deleteModal){
                deleteModal.style.display = "none";
            } else if (event.target == settingsModal){
                settingsModal.style.display = "none";
            }
        }
        
        function updateEditForm(){
            var selectedNote = document.getElementById("edit-select-note").value;

            for(note of objNotes){
                if(note.Name == selectedNote){
                    selectedNote = note;
                    break;
                }
            }

            console.log(selectedNote.Share);

            document.getElementById("edit-note-name").value = selectedNote.Name;
            document.getElementById("edit-note-content").value = selectedNote.Content;
            document.getElementById("edit-note-flags").value = selectedNote.Flag;
            
            for(user of objUsers){
                if(selectedNote.Share.indexOf(user.Id) !== -1){
                    document.getElementById("edit-" + user.Username).checked = true;
                } else {
                    document.getElementById("edit-" + user.Username).checked = false;
                }
            }
        }

        updateEditForm();
    </script>

</body>
</html>