<!DOCTYPE html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }   
    </style>
</head>

<html>
    <main>
        <h1 style="text-align: center;">Logged in as {{.Username}}</h1>
        <a href="/logout">Logout</a>

        <!-- Create Note Form -->
        <form action="/create" method="post">
            <label for="create-note-name">Note Name:</label>
            <input type="text" id="create-note-name" name="create-note-name" required>
            <br>
            <label for="create-note-content">Note:</label>
            <br>
            <textarea id="create-note-content" name="create-note-content" rows="6" cols="50" required></textarea>
            <fieldset>
                <legend>Share note with:</legend>
            {{range $index, $user := .Users}}
                <input type="checkbox" id={{$user}} name={{$user}} value={{$user}}>
                <label for={{$user}}>{{$user}}</label><br>
            {{end}}
            </fieldset>
            <br>
            <input type="submit" value="Create Note">
        </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Note Name</th>
                <th>Note Date</th>
                <th>Note Content</th>
            </tr>
            {{range $index, $note := .Notes}}
            <tr>
                <th>{{addOne $index}}</th>
                <th>{{$note.Owner}}</th>
                <th>{{$note.Name}}</th>
                <th>{{$note.Date}}</th>
                <th>{{$note.Content}}</th>
                <th><a>edit</a></th>
                <th><a>delete</a></th>
            </tr>
            {{end}}
        </table>

        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEditModal()">&times;</span>
                <p id="pp">Some text in the Modal..</p>
            </div>
        </div>
    </main>
</html>

<script>
    function openEditModal(idx){
        var modal = document.getElementById("editModal");
    
        var Notes = "{{.}}";
        var note = Notes[idx];

        modal.style.display = "block";  
    }

    function closeEditModal(idx){
        var modal = document.getElementById("editModal");
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        var modal = document.getElementById("editModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>